section.container
	nav.breadcrumb.mt-4.mb-2
		a.breadcrumb-step(href='index.html') Trang chủ
		a.breadcrumb-step(href='viec-lam.html') Việc làm
		a.breadcrumb-step(href='viec-lam.html') IT - Phần mềm
		a.breadcrumb-step.breadcrumb-step_active(href='chi-tiet-1-viec-lam.html') Software Development Part Leader
