block var

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="stylesheet" href="./css/global.min.css")
		link(rel="stylesheet" href="./css/main.min.css")
		title #{title}
	body
		block header
			include ../components/header/index.pug
		main
			block main
		block footer
			include ../components/footer/index.pug
		include ../components/back-2-top/index.pug
		script(src="./js/global.min.js")
		script(src="./js/main.min.js")
		block script
		//- script.
			(function() {
				function logElementEvent(eventName, element) {
					console.log(Date.now(), eventName, element.getAttribute("data-src"));
				}
				var callback_enter = function(element) {
					logElementEvent("🔑 ENTERED", element);
				};
				var callback_exit = function(element) {
					logElementEvent("🚪 EXITED", element);
				};
				var callback_loading = function(element) {
					logElementEvent("⌚ LOADING", element);
				};
				var callback_loaded = function(element) {
					logElementEvent("👍 LOADED", element);
				};
				var callback_error = function(element) {
					logElementEvent("💀 ERROR", element);
					element.src = `https://via.placeholder.com/256/?text=Not found`;
				};
				var callback_finish = function() {
					logElementEvent("✔️ FINISHED", document.documentElement);
				};
				var lazyLoad = new LazyLoad({
					elements_selector: ".lazy",
					// Assign the callbacks defined above
					//- callback_enter: callback_enter,
					//- callback_exit: callback_exit,
					//- callback_loading: callback_loading,
					//- callback_loaded: callback_loaded,
					//- callback_error: callback_error,
					//- callback_finish: callback_finish
				});
				lazyLoad.update();
			})();