extends _layout.pug

block var
	- var title = 'Về Mirai Tuyển dụng'

block main
	section.container.mt-4
		.col-md-9.mx-auto
			.text-center
				a(href="#")
					img(style="width: 250px" src="img/logo.png", alt="logo")
				.h5 Hệ sinh thái hỗ trợ tuyển dụng toàn diện
					br
					| dành cho ứng viên và doanh nghiệp
			.row.mt-10-lg
				.col-lg-6
					.mr-8-lg
						.h3 Về chúng tôi
						.mb-4
							.text-bold Tầm nhìn
							span Trở thành đơn vị cung cấp dịch vụ Kết nối nhân sự và Phát triển nghề nghiệp hàng đầu tại Việt Nam.
						.mb-4
							.text-bold Sứ mệnh
							span Mang đến những cơ hội nghề nghiệp tốt nhất cho người Việt trẻ.
						.mb-4
							.text-bold Giá trị cốt lõi 
							span Luôn chủ động và sáng tạo, lấy công nghệ làm nền tảng cốt lõi để phát triển dịch vụ. Chuyên nghiệp & tận tâm với Khách hàng.
				.col-lg-6
					img.w-100(src="img/banner-6.jpg", alt="banner-6.jpg")
			.row.mt-8
				.col-lg-8
					.mr-8-lg
						img.w-100(src="img/banner-5.jpg", alt="banner-5.jpg")
				.col-lg-4
					.h3 Lorem ipsum dolor sit amet.
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti perspiciatis aliquid labore ab recusandae autem dicta quod debitis doloribus, ut molestiae voluptate commodi, quaerat veniam! At ipsam eaque placeat labore?
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti perspiciatis aliquid labore ab recusandae autem dicta quod debitis doloribus, ut molestiae voluptate commodi, quaerat veniam! At ipsam eaque placeat labore?
			.a-line.bg-blue.mx-auto.mt-10
			.text-center
				.h3 Đối tác của chúng tôi
			.row.mb-10
				.col-6.col-sm-4.col-lg-2
					a(href="profile-nha-tuyen-dung.html").a-gioithieu_box
						img.lazy(data-src="img/nha-tuyen-dung/aeon-mall.webp", alt="aeon-mall.webp")
				.col-6.col-sm-4.col-lg-2
					a(href="profile-nha-tuyen-dung.html").a-gioithieu_box
						img.lazy(data-src="img/nha-tuyen-dung/beckers.jpg", alt="beckers.jpg")
				.col-6.col-sm-4.col-lg-2
					a(href="profile-nha-tuyen-dung.html").a-gioithieu_box
						img.lazy(data-src="img/nha-tuyen-dung/fpt-software-logo.png", alt="fpt-software-logo.png")
				.col-6.col-sm-4.col-lg-2
					a(href="profile-nha-tuyen-dung.html").a-gioithieu_box
						img.lazy(data-src="img/nha-tuyen-dung/lg.png", alt="lg.png")
				.col-6.col-sm-4.col-lg-2
					a(href="profile-nha-tuyen-dung.html").a-gioithieu_box
						img.lazy(data-src="img/nha-tuyen-dung/toshiba-software-development-viet-nam-co-ltd-logo.png", alt="toshiba-software-development-viet-nam-co-ltd-logo.png")
				.col-6.col-sm-4.col-lg-2
					a(href="profile-nha-tuyen-dung.html").a-gioithieu_box
						img.lazy(data-src="img/nha-tuyen-dung/panasonic-vietnam-group-logo.png", alt="panasonic-vietnam-group-logo.png")