extends _layout.pug

block var
	- var title = 'Thoả thuận sử dụng của Mirai Tuyển dụng'

block main
	section.container
		.a-thoathuan.bg-white.my-6.mx-auto.p-6.p-10-md
			.h3.fg-blue.text-light Thỏa Thuận Sử Dụng
			.h6 Chấp Thuận Điều Khoản & Điều Kiện
			p Vui lòng đọc kỹ các Điều Khoản & Điều Kiện này trước khi truy nhập và sử dụng dịch vụ trên website đăng tuyển dụng miraituyendung.com (sau đây gọi là “Website Mirai Tuyển dụng). Bằng việc truy cập và sử dụng Website Mirai Tuyển dụng, bạn (sau đây có thể được gọi là “bạn” hoặc “Khách hàng”, trừ phi ngữ cảnh yêu cầu khác đi) chấp thuận Điều Khoản & Điều Kiện này và đồng ý bị ràng buộc bởi các quy định về sử dụng Dịch vụ trên Website Mirai Tuyển dụng. Nếu bạn có bất kỳ câu hỏi nào về bản thỏa thuận này, vui lòng liên hệ chúng tôi qua email contact@miraituyendung.com.
			.h6 Dịch Vụ Của Mirai Tuyển dụng
			p Miraituyendung.com là một trang Web trên mạng Internet được thiết kế cho phép những người sử dụng đăng thông báo tuyển dụng và/hoặc xem các công việc do những người sử dụng khác đăng lên, hoặc tương tác với những người sử dụng khác. Miraituyendung.com do Công ty sở hữu và điều hành. Website Mirai Tuyển dụng chứa và có thể chứa các thông tin, tin tức, các ý kiến, văn bản, đồ hoạ, các liên kết, sản phẩm nghệ thuật điện tử, hình ảnh động, âm thanh, video, phần mềm, tranh ảnh, âm nhạc, tiếng động và các nội dung, dữ liệu khác (gọi chung là “nội dung”) được định dạng, tổ chức và thu thập dưới nhiều hình thức khác nhau mà người sử dụng có thể truy nhập tới được, gồm các thư mục, cơ sở dữ liệu và các vùng trên website của Miraituyendung.com mà người sử dụng có thể thay đổi được, chẳng hạn như đăng quảng cáo tuyển dụng, tải lên các tệp đa phương tiện, đăng ký các hồ sơ người sử dụng và tạo các hồ sơ tự thông báo (“vùng tương tác”).
			p Để có thể sử dụng đầy đủ tiện ích dịch vụ trên Website Mirai Tuyển dụng, bạn cần phải đăng ký tạo lập một tài khoản sử dụng và cung cấp Website Mirai Tuyển dụng một số thông tin cá nhân nhất định bao gồm mà không giới hạn bởi địa chỉ email để phục vụ cho việc liên lạc giao tiếp giữa bạn và Website Mirai Tuyển dụng cũng như những người sử dụng khác sau này. Bằng việc đăng ký này, bạn đồng ý nhận các Thư thông báo, các thư điện tử hoặc các hình thức truyền thông khác về các sản phẩm và dịch vụ của Website Mirai Tuyển dụng. Bất cứ khi nào bạn không mong muốn nhận các thư điện tử này nữa, thì bạn hãy thông báo cho Website Mirai Tuyển dụng bằng cách chọn chức năng hủy đăng ký có sẵn trên Website Mirai Tuyển dụng hoặc tại bên dưới của các thư điện tử của Website Mirai Tuyển dụng. Các thông tin cá nhân của bạn sẽ được bảo quản và xử lý một cách bảo mật theo Chính Sách Bảo Mật của Website Mirai Tuyển dụng.
			p Bạn có thể đặt mua sử dụng các dịch vụ hoặc sản phẩm với các mức giá niêm yết có sẵn trên Website Mirai Tuyển dụng và việc đặt mua này của bạn sẽ tùy thuộc vào chấp thuận một phần hoặc toàn bộ điều kiện đặt hàng này của Website Mirai Tuyển dụng. Việc chấp thuận này của Website Mirai Tuyển dụng chỉ có hiệu lực ràng buộc khi bạn đã thanh toán hoặc các thông tin về thanh toán của bạn đã được xác nhận.
			p Công ty bảo lưu quyền thay đổi các dịch vụ, sản phẩm, biểu giá và phương thức tính giá và các thay đổi khác của Website Mirai Tuyển dụng từng thời gian mà không phải thông báo trước cho người sử dụng nếu thấy phù hợp.
			p Công ty bảo lưu quyền từ chối cung cấp dịch vụ cho các cá nhân, tổ chức, mà theo quy định của pháp luật hoặc theo toàn quyền đánh giá của Công ty:
			ul
				li
					p Có hoạt động kinh doanh cùng lĩnh vực, nghành nghề với Công ty, bao gồm nhưng không giới hạn, các hoạt động kinh doanh dịch vụ việc làm thông qua website, ứng dụng thương mại điện tử bán hàng và/hoặc website, ứng dụng cung cấp dịch vụ thương mại điện tử (sàn giao dịch thương mại điện tử);
				li
					p Vận hành, quản lý website, ứng dụng liên quan đến tuyển dụng, dịch vụ việc làm tương tự nền tảng website, ứng dụng của Công ty nhằm mục đích kinh doanh, thu lợi nhuận;
				li
					p Khai thác, sử dụng các thông tin được cung cấp bởi dịch vụ của Công ty không nhằm phục vụ cho mục đích tuyển dụng cho chính cá nhân, tổ chức đó;
				li
					p Cung cấp các sản phẩm, dịch vụ mang tính chất cạnh tranh với các dịch vụ hiện có của Mirai Tuyển dụng.
			p Trường hợp, Công ty đã cung cấp dịch vụ cho bạn và/hoặc công ty bạn nhưng sau đó phát hiện ra bạn và/hoặc công ty bạn thuộc một trong các đối tượng mà Công ty từ chối cung cấp dịch vụ nêu trên, thì tùy theo quyết định của Công ty sẽ tiến hành:
			ul
				li
					p Chấm dứt cung cấp dịch vụ và thông báo cho Khách hàng
				li
					p Gỡ bỏ toàn bộ tin đăng tuyển (nếu có)
				li
					p Gỡ bỏ, vô hiệu hóa tài khoản sử dụng website Mirai Tuyển dụng nếu xét thấy cần thiết
				li
					p Hoàn trả lại khoản tiền mà bạn đã thanh toán (nếu có) tương ứng với khối lượng dịch vụ mà Công ty chưa cung cấp và/hoặc bạn chưa kích hoạt sử dụng.
			.h6 Dịch Vụ Đặt Mua Và Thanh Toán
			ul
				li
					p Sau khi bạn đã thanh toán Phí Dịch vụ và/hoặc kích hoạt các Dịch vụ đã đặt mua, chúng tôi sẽ không chấp nhận bất kỳ yêu cầu tạm ngưng hoặc hủy bỏ các Dịch vụ đã đặt mua, hoặc hoàn Phí Dịch vụ, hoặc thay đổi dịch vụ.
				li
					p Bạn sẽ tự tạo một tài khoản với mật khẩu để sử dụng dịch vụ trên Website Mirai Tuyển dụng.
				li
					p Bạn được quyền đăng tải nội dung thông tin đăng tuyển của mình và/hoặc đường dẫn trên Website Mirai Tuyển dụng đến nội dung thông tin tuyển dụng tại trang web của mình và hoàn toàn chịu trách nhiệm về tính chính xác và hợp pháp của các nội dung này.
				li
					p Trường hợp do lỗi cố ý của chúng tôi mà sau 7 (bảy) ngày làm việc kể từ ngày bạn có thông báo nhắc nhở bằng văn bản về vi phạm mà chúng tôi vẫn chưa tiến hành khắc phục sai phạm này, chúng tôi sẽ hoàn trả cho bạn Phí Dịch vụ tương ứng với Dịch vụ chưa sử dụng theo Đơn đặt hàng/Hợp đồng Dịch vụ mà chúng tôi không cung cấp theo đúng thỏa thuận giữa hai bên.
