extends _layout.pug

block var
	- var title = 'Đăng ký'

block main
	section.info-box
		.login-close.button.square.closer
		.info-box-content
			p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui culpa similique ipsa harum inventore ut quas soluta dolorem, repellat nihil aut, ea illo quia cumque explicabo dolorum vel adipisci? Incidunt, quas repellendus cumque dolore voluptas at sunt aliquam modi fugit maxime omnis alias, dignissimos totam, repellat velit autem tenetur quae numquam? Eos cum expedita eaque facere natus doloribus ducimus reprehenderit libero accusantium voluptate impedit repellat nemo exercitationem, repellendus minus tenetur iusto quia modi ipsum amet. Sed impedit dignissimos autem alias reprehenderit libero minus aspernatur sequi mollitia consequuntur accusamus sint odit, neque dolorem ad amet eos ea, est facilis minima fugit.