extends _layout.pug

block var
	- var title = 'Không tìm thấy việc làm'

block main
	section.container.my-4
		.row
			.col-12
				.vl-form.p-2
					include ../components/form-search/index.pug
			.col-12
				.vl-sort_notfound.mt-10
					p.fg-red
						span Không tìm thấy việc làm phù hợp với 
						span.text-bold Frontend Developer
					p.text-bold Gợi ý tìm việc:
					p • Tìm kiếm việc làm với từ khóa như vị trí công việc. Ví dụ: Nhân viên kinh doanh hoặc Kế toán viên ...
					p • Xem việc làm theo ngành nghề 
						a(href="danh-sach-nganh-nghe.html") Click để xem »
					p • Xem 
						a(href="viec-lam.html") việc làm mới cập nhật
						span , kết hợp với chọn thêm tỉnh / thành phố.