header.user-nav
	div.logo-wrapper
		a(href="index.html").user-nav_logo
			img(src="img/logo.png" alt="logo")
		.user-nav_hamburger
			span.mdi.mdi-menu
	nav.user-nav_link.left
		li.user-nav_link--item
			a(href="index.html").mdi.mdi-home.active.d-none.d-block-lg
			a(href="index.html").active.d-inline-block.d-none-lg Trang chủ
		li.user-nav_link--item
			a(href="viec-lam.html") Việc làm
			ul.user-nav_sublink
				li.user-nav_link--item
					a(href="danh-sach-nganh-nghe.html") Ngành nghề / Địa điểm
				li.user-nav_link--item
					a(href="viec-lam.html") Việc làm Freelancer
				li.user-nav_link--item
					a(href="viec-lam.html") Việc làm Full Time
				li.user-nav_link--item
					a(href="viec-lam.html") Việc làm Part Time
		li.user-nav_link--item
			a(href="#") Công ty
		li.user-nav_link--item
			a(href="#") Tư vấn
		li.user-nav_link--item
			a(href="ntd-login.html") Nhà tuyển dụng
	nav.user-nav_link.right
		li.user-nav_link--item.login
			a(href="javascript:void(0)" onclick="$('#LoginInfobox').data('infobox').open()") Đăng nhập
		li.user-nav_link--item.language
			a(href="#vn")
				img(src="img/flagvn.png" alt="flagvn")
			ul.user-nav_sublink
				li.user-nav_link--item
					a(href="#jp")
						img(src="img/flagvn.png" alt="flagvn")
				li.user-nav_link--item
					a(href="#jp")
						img(src="img/flagjp.png" alt="flagjp")
		li.user-nav_link--item.logged
			a(href="javascript:")
				span Nguyễn Thành Lộc
				span.d-none.d-inline-block-lg.ml-1.mdi.mdi-chevron-down
			ul.user-nav_sublink
				li.user-nav_link--item
					a(href="javascript:")
						span.mr-2.mdi.mdi-home-account
						span Tài khoản
				li.user-nav_link--item
					a(href="javascript:")
						span.mr-2.mdi.mdi-account-badge-horizontal
						span Quản lý hồ sơ
				li.user-nav_link--item
					a(href="javascript:")
						span.mr-2.mdi.mdi-briefcase-search
						span Tuyển dụng đã xem bạn
				li.user-nav_link--item
					a(href="javascript:")
						span.mr-2.mdi.mdi-import
						span Đăng xuất