footer.ms-footer
	.container
		.row
			.col-6.col-md-3
				p.title Chức năng
				ul.unstyled-list.m-0.mt-2.mb-4
					li
						a(href="#") Tài Khoản
					li
						a(href="#") Tạo / Đăng Hồ Sơ
					li
						a(href="#") Tạo Thông Báo Việc Làm
					li
						a(href="#") Việc làm phù hợp với bạn
					li
						a(href="#") Phản hồi từ nhà tuyển dụng
			.col-6.col-md-3
				p.title MiraiHuman
				ul.unstyled-list.m-0.mt-2.mb-4
					li
						a(href="#") Về MiraiHuman
					li
						a(href="#") Thỏa Thuận Sử Dụng
					li
						a(href="#") Quy Định Bảo Mật
					li
						a(href="#") Chính sách BV thông tin cá nhân
					li
						a(href="#") Quy Chế Sàn Giao Dịch
					li
						a(href="#") Quy trình giải quyết tranh chấp
			.col-6.col-md-3
				p.title Kết nối với MiraiHuman
				ul.unstyled-list.m-0.mt-2.mb-4
					li
						a(href="#").d-flex.flex-align-center
							span.mdi.mdi-facebook-box
							span.ml-2 Facebook
					li
						a(href="#").d-flex.flex-align-center
							span.mdi.mdi-youtube
							span.ml-2 YouTube
			.col-6.col-md-3
				p.title Website đối tác
				ul.unstyled-list.m-0.mt-2.mb-4
					li
						a(href="#") example.com
					li
						a(href="#") example.com
					li
						a(href="#") example.com
				p
					a(href="#") Liên hệ
				p
					a(href="#")
						img(src="img/bo-cong-thuong.png", alt="bo-cong-thuong.png")
		.row
			.col-12.border-top.bd-white.mt-4.text-center
				p.mt-2.text-bold MiraiHuman - Mạng việc làm &  Tuyển dụng hàng đầu Việt Nam
				p.mt-0
					span Copy right &copy; Công Ty TNHH MiraiHuMan
					span.ml-6 Trụ sở: 155 Trần Trọng Cung, P. Tân Thuận Đông, Q7, HCM
				p.mt-0
					span MST: xxxxxxxxxx
					span.ml-6 Nơi cấp: Sở Kế Hoạch Và Đầu Tư Thành Phố Hồ Chí Minh
					span.ml-6 Điện thoại: xx xxxx xxxx
					span.ml-6 Email: contact@miraihuman.com